<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloodgroup</title>
</head>
<body>
    <form method="post">
        {% csrf_token %} 
        <table align="center" border="5">
            <tr>
                <td>Bloodgroup</td>
                <td><input type="text" name="txtname" value="{{edit.Bloodgroup_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>

    </form>
    
</body>
</html>

<form>
<table align="center" border="1">
    <tr>
        <th>SINn:</th>
        <th>Bloodgroup</th>
        <th>Action</th>
    </tr>
    {% for i in blooddata %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Bloodgroup_name}}</td>
        <td>
            <a href="{% url 'Administrator:delBlood' i.id %}">Delete</a>
            <a href="{% url 'Administrator:editBlood' i.id %}">edit</a>
        </td>
    </tr>
    {% endfor %}

</table>
</form>