<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLACE</title>
</head>
<body>
    <form method="post">
        {% csrf_token %} 
        <table align="center" border="5">
            <tr>
                <td>District</td>
                <td>
                    <select name="selDistrict">
                        <option value="--select--">--select--</option>
                        {% for i in districtData %}
                        <option 
                        {% if edit.district_id == i.id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.district_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txtplace" value="{{edit.place_name}}"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>

    </form>
    
</body>
</html>

<table align="center">
    <tr>
        <th>SINn:</th>
        <th>District</th>
        <th>Place</th>
        <th>Action</th>
    </tr>
    {% for i in placeData %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.district.district_name}}</td>
        <td>{{i.place_name}}</td>
        <td>
            <a href="{% url 'Administrator:delplace' i.id %}">Delete</a>
            <a href="{% url 'Administrator:editplace' i.id %}">Edit</a>
        </td>
        
    </tr>
    {% endfor %}
    

</table>